# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Environment variables
.env
.env.local

# Dependencies
node_modules/
vendor/

# Build outputs
dist/
build/

# IDE / Editor settings
.vscode/
.idea/
*.swp
